body {
  background-color: #BC8DA7;
}

#wrapper {
  margin: 45px auto;
  width: 990px;
  border: 0px solid black;
  padding: 5px;
/*  background-color: #BDB4BF;*/
}

header {
  /*background-color: #EFF2EF;*/
  color: black;
  font-family: 'Prata'., serif;
  font-size: 18px;
  padding-left: 24px;
  /*text-align: center;*/
  border-bottom: 4px solid white;
}

h1 {
  font-family: Georgia, Arial, sans-serif;
  font-size: 30px;
}

main {
  margin: 0;
  padding: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

section {
  grid-column: span 2;
  margin-bottom: 30px;
}

section h2 {
  font-family: 'Prata', serif;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 4px solid black;
}

section p {
  font-family: 'Prata', serif;
}

.roundedbox {
  padding: 24px;
  border: 3px solid #C97D7D;
  background-color: #B47978;
  /*box-shadow: 10px 10px 15px #666;  x, y, blur, color */
  font-size: 16px;
}

.mainimg {
  margin-left: 40px;
}

footer {
  grid-column: span 12;
  /*background-color: white;*/
  color: black;
  font-family: Georgia, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  border-top: 4px solid white;
}
}

footer i {
  color: #ADE7F5;
  font-size: 48px;
}
